/*
  color: #a3a3a3
  background-color: #1c232c;
 */

/*body {
  background-color: #1c232c;
  color: #eeeeee;
}*/

.offcanvas {
  color: $sw-text-color;
  background-color: $sw-background-color;
}

.training-card {
  border: thin lightgray solid;
  margin-bottom: 20px;
  background-color: transparent;
  border-radius: 5px;

  .product-price {
    color: #fff
  }

  .img-container {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .card-body {
    padding: 20px;
  }
}

.pagination, .pagination-nav, .page-item {
  background-color: #1c232c !important;
  color: #fff !important
}

.filter-panel-item-toggle {
  color: #fff;

  &:hover {
    color: #a3a3a3
  }
}

.filter-panel-item.show .filter-panel-item-toggle {
  color: #a3a3a3;
  border-color: #fff;
  border-width: 1px;

  .icon.icon-filter-panel-item-toggle > svg {
    color: #fff
  }
}

.btn.filter-panel-wrapper-toggle {
  border-color: #fff;
}

.btn:focus, .btn.focus {
  box-shadow: none;
}

.dropdown-menu.show {
  background-color: #1c232c;
  color: #fff
}

.custom-control-input {
  &:checked ~ .custom-control-label::before {
    background-color: #a3a3a3;
    border-color: #a3a3a3;
    color: #fff;
  }
}


.page-link {
  background-color: #1c232c;
  color: #a3a3a3;
}

.page-item.active .page-link {
  background-color: #1c232c;
  color: #fff;
  border-color: #a3a3a3;
}

.top-bar-nav-btn.btn:hover, .top-bar-nav-btn.btn:hover .icon, .header-cart-total,
.header-actions-btn:hover, .header-actions-btn:hover .icon,
.main-navigation-link-text, .card-title {
  color: #fff;
}

.main-navigation-link.active .main-navigation-link-text {
  border-color: #a3a3a3;
}

.pagination .page-item.disabled .page-link {
  background-color: #1c232c;
}

.page-link:hover {
  background-color: #1c232c;
  color: #fff;
}

.btn-primary, .address-editor-select:not(.collapsed), .address-editor-create:not(.collapsed) {
  background-color: #526e7f;
  color: #fff;
  border-color: #526e7f;
}

.card-tabs {
  .nav-link.active, .card-tabs .nav-link:hover {
    background-color: transparent;
    color: #a3a3a3
  }

  .nav-link.active, .nav-link:hover {
    border-color: #fff;
    background-color: transparent;
    color: #a3a3a3
  }
}

.product-detail-manufacturer-link, .product-detail-reviews-link, .product-detail-tax-link,
.product-detail-ordernumber-label, .footer-contact-form a, .footer-vat a,
.footer-column-headline, .breadcrumb a.is-active, .table, .product-detail-review-item-content,
p, .product-detail-description-text, .top-bar-list-item, .top-bar-nav-btn.btn,
.filter-active, .dropdown.show .top-bar-nav-btn, .dropdown.show .top-bar-nav-btn .icon {
  color: #a3a3a3
}

.top-bar-list-item:hover {
  color: #fff;
  background: transparent;
  text-decoration: none;
}

.navigation-flyout {
  background-color: #1c232c;
}

.navigation-flyout-link {
  color: #a3a3a3;

  &:hover {
    color: #fff;
  }
}

.navigation-flyout-category-link {
  color: #fff;

  a {
    color: #fff;
  }

  a:hover {
    color: #a3a3a3;
  }
}