{% sw_extends '@Storefront/storefront/page/product-detail/tabs.html.twig' %}

{% block page_product_detail_tabs_navigation_description %}
    {{ parent() }}
    {% if page.product.customFields.custom_training_text %}
    <li class="nav-item">
        <a class="nav-link product-detail-tab-navigation-link"
           id="additional-tab"
           data-toggle="tab"
           data-offcanvas-tabs="true"
           href="#additional-tab-pane"
           role="tab"
           aria-controls="description-tab-pane"
           aria-selected="false">
            Additional Data
        </a>
    </li>
    {% endif %}
{% endblock %}

{% block page_product_detail_tabs_content_description %}
    {{ parent() }}
    {% if page.product.customFields.custom_training_text %}
    <div class="tab-pane fade show"
         id="additional-tab-pane"
         role="tabpanel"
         aria-labelledby="additional-tab">
        {% sw_include '@Storefront/DarkTheme/page/product-detail/additional.html.twig' %}
    </div>
    {% endif %}
{% endblock %}