{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_actions_account %}
    <div class="col-auto">
        <div class="btn header-action-btn">
            <a href="{{ path('frontend.account.address.page') }}" class="btn header-actions-btn">
                {% sw_icon 'money-card' %}
            </a>
        </div>
    </div>
    {{ parent() }}
{% endblock %}