{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_row %}
    <!--<h1>Custom Listing</h1>-->

    <div class="row">
        {% for product in searchResult %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card training-card">
                    <div class="img-container">
                        {% sw_thumbnails 'thumbs' with {
                            media: product.cover.media
                        } %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.translated.name }}</h5>
                        <p class="card-text">{{ product.translated.description }}</p>
                        <p class="card-text">
                            {% sw_include '@Storefront/storefront/component/product/card/price-unit.html.twig' %}
                        </p>
                        <a href="{{ path('frontend.detail.page', {'productId': product.id}) }}" class="btn btn-secondary btn-block">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}